/* BUTTON */
.button{
  font-size: 14px;
  font-weight: 700;
  background-color: $red-color;
  color: #ffffff;
  text-transform: uppercase;
  padding: 12px 20px;
  border: none;
  transition: background-color 0.3s ease;
  &:hover{
    background-color: rgb(208, 81, 75);
  }
}